[Unit]
Description=AstroPiCustoms
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/astroberry/AstroPiCustoms
ExecStart=/home/astroberry/AstroPiCustoms/venv/bin/python /home/astroberry/AstroPiCustoms/astropicustoms.py

[Install]
WantedBy=multi-user.target