<!DOCTYPE html>
<html lang="en">
<head>
    <title>AstroPiCustoms</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        div {
            width: 620px;
            border: 4px solid black;
        }

        body {
            background-color: rgba(200, 10, 10, 0.9);
        }
    </style>
</head>

<script TYPE="text/javascript">
    const loopMilliseconds = 1000;
    let loopInterval = null;
    let alreadyRunning = false;
    let train_stopping = false;
    let tracker_data = {
        running: false,
        drive_status: "",
        altitude_deg_decimal: 0,
        azimuth_deg_decimal: 0

    };

    function on_load() {
        getJson('/update_tracker');
    }

    function postJson(url, data) {
        const xmlHttpRequest = new XMLHttpRequest();

        xmlHttpRequest.open("POST", url);  // , true
        xmlHttpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlHttpRequest.onreadystatechange = function () {
            if (xmlHttpRequest.readyState === 4 && xmlHttpRequest.status === 200) {
                tracker_data = JSON.parse(xmlHttpRequest.responseText);
                update_tracker_form(tracker_data);
            }
        };
        xmlHttpRequest.send(JSON.stringify(data));  // Use JSON.stringify to convert to ACTUAL JSON
    }

    function getJson(url) {

            stop_loop()
            const xmlHttpRequest = new XMLHttpRequest();

            let element = null;

            xmlHttpRequest.open("GET", url);  // , true
            xmlHttpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlHttpRequest.responseType = 'json';
            xmlHttpRequest.onreadystatechange = function () {
                if (xmlHttpRequest.readyState === 4 && xmlHttpRequest.status === 200) {
                    for (let key in xmlHttpRequest.response) {
                        element = document.getElementById(key);

                        if (element) {
                            element.value = xmlHttpRequest.response[key];
                        }
                    }

                    tracker_data = xmlHttpRequest.response;
                    update_tracker_form(xmlHttpRequest.response);
                    alreadyRunning = false;
                }
            };

            xmlHttpRequest.send();
        start_loop()
    }

    function update_tracker_form(data) {
        document.querySelectorAll(".json").forEach(function (item) {
            if (item.id in data) {
                item.value = data[item.id];
            }
        });

        document.querySelectorAll(".label").forEach(function (item) {
            if (item.id in data) {
                item.innerHTML = data[item.id];
            }
        });

        document.querySelectorAll(".checked").forEach(function (item) {
            if (item.name in data) {
                item.checked = item.id === item.name + data[item.name];
            }
        });

        if (tracker_data.altitude_deg_decimal < 0 && tracker_data.control_mode == 2) {
            tracker_data.control_mode = 1;
            postJson("/update_tracker", {
            'control_mode': tracker_data.control_mode
            });

            document.getElementById("horizon").innerHTML = "";
        } else if (tracker_data.altitude_deg_decimal < 3 && tracker_data.control_mode == 2) {
            document.getElementById("horizon").innerHTML = "Below Horizon Soon";
        } else {
            document.getElementById("horizon").innerHTML = "";
        }
    }

    function getUpdateFromTracker() {
        getJson('/update_tracker');

    }

    function goto_solar_system() {
        let element = document.getElementById('select_solar_system');
        document.getElementById("calculating").innerHTML = "Calculating";
        tracker_data.calculating = "Calculating";
        postJson("/update_tracker", {
            'calculating': tracker_data.calculating
        });
        getJson('/convert/solar_system/' + element.options[element.selectedIndex].text);
    }

    function goto_ngc() {
        let element = document.getElementById('select_ngc');
        document.getElementById("calculating").innerHTML = "Calculating";
        tracker_data.calculating = "Calculating";
        postJson("/update_tracker", {
            'calculating': tracker_data.calculating
        });
        getJson('/convert/ngc/' + element.options[element.selectedIndex].text);
    }

    function goto_messer() {
        let element = document.getElementById('select_messer');
        document.getElementById("calculating").innerHTML = "Calculating";
        tracker_data.calculating = "Calculating";
        postJson("/update_tracker", {
            'calculating': tracker_data.calculating
        });
        getJson('/convert/messer/' + element.options[element.selectedIndex].text);
    }

    function goto_star() {
        let element = document.getElementById('select_star');
        document.getElementById("calculating").innerHTML = "Calculating";
        tracker_data.calculating = "Calculating";
        postJson("/update_tracker", {
            'calculating': tracker_data.calculating
        });
        getJson('/convert/star/' + element.options[element.selectedIndex].text);
    }

    function goto_custom() {
        tracker_data.calculating = "Calculating";
        document.getElementById("calculating").innerHTML = "Calculating";
        tracker_data.custom_ra_hour = document.getElementById("custom_ra_hour_").value
        tracker_data.custom_ra_min = document.getElementById("custom_ra_min_").value
        tracker_data.custom_ra_sec = document.getElementById("custom_ra_sec_").value
        tracker_data.custom_dec_deg = document.getElementById("custom_dec_deg_").value
        tracker_data.custom_dec_min = document.getElementById("custom_dec_min_").value
        tracker_data.custom_dec_sec = document.getElementById("custom_ra_hour_").value

        postJson("/update_tracker", {'calculating': tracker_data.calculating});
        postJson("/update_tracker", {'custom_ra_hour': tracker_data.custom_ra_hour});
        postJson("/update_tracker", {'custom_ra_min': tracker_data.custom_ra_min});
        postJson("/update_tracker", {'custom_ra_sec': tracker_data.custom_ra_sec});
        postJson("/update_tracker", {'custom_dec_deg': tracker_data.custom_dec_deg});
        postJson("/update_tracker", {'custom_dec_min': tracker_data.custom_dec_min});
        postJson("/update_tracker", {'custom_dec_sec': tracker_data.custom_dec_sec});
        getJson('/convert/custom/custom');
    }

    function tracker() {

        if (tracker_data.control_mode == 1 ) {
            tracker_data.control_mode = 2;

            postJson("/update_tracker", {
                'control_mode': tracker_data.control_mode
            });
        } else if (tracker_data.control_mode == 2 || tracker_data.control_mode == 3){
           tracker_data.control_mode = 1;
            postJson("/update_tracker", {
                'control_mode': tracker_data.control_mode
            });
        }
    }

    function start_loop() {
        if (!loopInterval) {
            loopInterval = setInterval(getUpdateFromTracker, loopMilliseconds);
        }
    }

    function stop_loop() {
        clearInterval(loopInterval);
        loopInterval = null;
        train_stopping = false;
    }


    function mount_select(value) {
        tracker_data.mount_select = value;

        postJson("/update_tracker", {
            'mount_select': tracker_data.mount_select
        });
    }

    function north_south_select(value) {
        tracker_data.north_south_select = value;

        postJson("/update_tracker", {
            'north_south_select': tracker_data.north_south_select
        });
    }

    function home_pos() {
        tracker_data.control_mode = 3;
        postJson("/update_tracker", {
            'control_mode': tracker_data.control_mode
        });
    }

    function manual_move(bnt) {
        let element = document.getElementById('soft_adder_scale');
        let soft_adder_scale = element.options[element.selectedIndex].text;
        getJson("/soft_adder/" + bnt + "/" + soft_adder_scale);
    }

 </script>

<body onload="on_load()">

<div class="container">
    <label style="font-size:22px;">Astropi Customs</label>
    <br>
    <button id="stop" onclick="tracker()" style="font-size:16px;" type="button">Tracking</button>
    Status:<label class="label" id="drive_status" style="font-size:18px;">0</label>
    Mode:<label class="label" id="control_mode" style="font-size:16px;">0</label>
    <br>
    <label style="font-size:16px;">Site</label>
    Latitude:<label class="label" id="latitude" style="font-size:12px;">0.0</label>
    Longitude:<label class="label" id="longitude" style="font-size:12px;">0.0</label>
    >Sea_level(M):<label class="label" id="sea_level" style="font-size:12px;">0.0</label>
    <br>
    Local Sidereal(H):<label class="label" id="local_sidereal" style="font-size:12px;">0.0</label>
    <br>

    <label style="font-size:18px;">Solar System:</label>
    <select aria-label="Moon" class="form-select" id="select_solar_system" style="font-size:18px;">
        {% for value, desc in solar_system.items() %}
        <option title="{{ desc }}" value="{{ val }}">{{ value }}</option>
        {% endfor %}
    </select>
    <button id="goto_solar_system" onclick="goto_solar_system()" style="font-size:16px;" type="button">Calc</button>
    <br>
    <label style="font-size:16px;">NGC:</label>
    <select aria-label="NGC1" class="form-select" id="select_ngc" style="font-size:18px;">
        {% for value, desc in ngc.items() %}
        <option title="{{ desc }}" value="{{ val }}">{{ value }}</option>
        {% endfor %}
    </select>
    <button id="goto_ngc" onclick="goto_ngc()" style="font-size:16px;" type="button">Calc</button>
    <br>
    <label style="font-size:16px;">Messer:</label>
    <select aria-label="Messer1" class="form-select" id="select_messer" style="font-size:18px;">
        {% for value, desc in messer.items() %}
        <option title="{{ desc }}" value="{{ val }}">{{ value }}</option>
        {% endfor %}
    </select>
    <button id="goto_messer" onclick="goto_messer()" style="font-size:16px;" type="button">Calc</button>
    <br>
    <label style="font-size:16px;">Named Star:</label>
    <select aria-label="Vega" class="form-select" id="select_star" style="font-size:18px;">
        {% for value, desc in star.items() %}
        <option title="{{ desc }}" value="{{ val }}">{{ value }}</option>
        {% endfor %}
    </select>
    <button id="goto_star" onclick="goto_star()" style="font-size:16px;" type="button">Calc</button>
    <br>
    <label style="font-size:18px;">Custom</label>


    <input class="custom" id="custom_ra_hour_" max="23" min="0" name="custom_ra_hour" placeholder="00"
           style=" width: 60px;font-size:16px;"
           type="number"
           value="0">
    M:
    <input class="custom" id="custom_ra_min_" max="60" min="0" name="custom_ra_min" placeholder="00" style=" width: 60px;font-size:16px;"
           type="number"
           value="0">
    S:
    <input class="custom" id="custom_ra_sec_" max="60" min="0" name="custom_ra_sec" placeholder="00" style=" width: 60px;font-size:16px;"
           type="number"
           value="0">
    <br>

    <label style="font-size:18px;">Dec(D):</label>
    <input class="custom" id="custom_dec_deg_" max="89" min="-89" name="custom_dec_deg" placeholder="00"
           style=" width: 60px;font-size:16px;" type="number"
           value="0">
    M:
    <input class="custom" id="custom_dec_min_" max="60" min="0" name="custom_dec_min" placeholder="00"
           style=" width: 60px;font-size:16px;" type="number"
           value="0">
    S:
    <input class="custom" id="custom_dec_sec_" max="60" min="0" name="custom_dec_sec" placeholder="00"
           style=" width: 60px;font-size:16px;" type="number"
           value="0">

    <button id="goto_custom" onclick="goto_custom()" style="font-size:16px;" type="button">Calc</button>
    <br>
    <label style="font-size:16px;">Object Info:</label>
    <label class="label" id="object_info" style="font-size:16px;">Object Info</label>
    <label class="label" id="calculating" style="font-size:16px; background: chocolate"></label>
    <label class="label" id="meridian" style="font-size:16px; background: #d21e66"></label>
    <br>
    <label style="font-size:16px;">Object Az(D):</label>
    <label class="label" id="azimuth_deg" style="font-size:16px;">0</label>
    M:
    <label class="label" id="azimuth_min" style="font-size:16px;">0</label>
    S:
    <label class="label" id="azimuth_sec" style="font-size:16px;">0</label>
    Az Deg Dec:<label class="label" id="azimuth_deg_decimal" style="font-size:16px;">0.0</label>
    <br>
    <label style="font-size:16px;">Alt(D):</label>
    <label class="label" id="altitude_deg" style="font-size:16px;">0</label>
    M:
    <label class="label" id="altitude_min" style="font-size:16px;">0</label>
    S:
    <label class="label" id="altitude_sec" style="font-size:16px;">0</label>

    Alt Deg Dec:<label class="label" id="altitude_deg_decimal" style="font-size:16px;">0.0</label>
    <label class="label" id="horizon" style="font-size:20px; background: #d21e66"></label>
    <br>
    <button id="home_pos" onclick="home_pos()" style="font-size:16px;" type="button">Home Position</button>
    Mount
    <input checked class="checked" id="mount_select0" name="mount_select" onclick="mount_select(0)" type="radio"> EQ
    <input class="checked" id="mount_select1" name="mount_select" onclick="mount_select(1)" type="radio"> Fork
    <input class="checked" id="mount_select2" name="mount_select" onclick="mount_select(2)" type="radio"> Alt Az
    &emsp; Hemis
    <input checked class="checked" id="north_south_select0" name="north_south_select" onclick="north_south_select(0)" type="radio"> North
    <input class="checked" id="north_south_select1" name="north_south_select" onclick="north_south_select(1)" type="radio"> South
    <br>
    Az/Ra deg/cnt:<label class="label" id="ra_or_az_pulse_per_deg" style="font-size:12px;">0.0</label>
    Alt/Dec deg/cnt:<label class="label" id="dec_or_alt_pulse_per_deg" style="font-size:12px;">0.0</label>
    <br>
    Az/Ra Osc:<label class="label" id="ra_az_osc_calc" style="font-size:12px;">0</label>
    Alt/Dec Osc:<label class="label" id="dec_alt_osc_calc" style="font-size:12px;">0</label>
    <br>

    <label style="font-size:16px;">Drive Position</label>
     <br>
    Az/Ra:<label class="label" id="az_steps" style="font-size:12px;">0.0</label>
    Error:<label class="label" id="az_diff" style="font-size:12px;">0.0</label>
    Adder:<label class="label" id="az_steps_adder" style="font-size:12px;">0.0</label>
    Drive Osc:<label class="label" id="az_osc_drive" style="font-size:12px;">0</label>
    <br>
    Alt/Dec:<label class="label" id="alt_steps" style="font-size:12px;">0.0</label>
    Error:<label class="label" id="alt_diff" style="font-size:12px;">0.0</label>
    Adder:<label class="label" id="alt_steps_adder" style="font-size:12px;">0.0</label>
    Drive Osc:<label class="label" id="alt_osc_drive" style="font-size:12px;">0</label>

    <br>
    <label style="font-size:16px;">----Manual Moves----</label>
    <br>
    <button type="button" style="width:80px; height:30px; font-size: 24px" onclick="manual_move(0)">&#8678;Ra+</button>
    <button type="button" style="width:80px; height:30px; font-size: 24px" onclick="manual_move(1)">&#8680;Ra-</button>
    <br>
    <br>
    <button type="button" style="width:80px; height:30px; font-size: 24px" onclick="manual_move(2)">&#8679;Dec+</button>
    <button type="button" style="width:80px; height:30px; font-size: 24px" onclick="manual_move(3)">&#8681;Dec-</button>
    <br>
    <br>
    <label style="font-size:16px;">Deg-Movement</label>
    <select aria-label=".01" class="form-select" id="soft_adder_scale" style="font-size:24px;">
    <option>.01</option>
    <option>.05</option>
    <option>.1</option>
    <option>.5</option>
    <option>1</option>
    </select>
</div>
</body>
</html>